<div>
  <div class="row">
    <div class="col-md-12">
    <div class="col-md-6">
      <div class="webcam-container">
        <webcam *ngIf="isWebcamOn" [trigger]="invokeObservable" (imageCapture)="captureImg($event)"></webcam>
      </div>
    </div>
    <div class="col-md-6">
      <div class="webcam-container" *ngIf="webcamImage">
        <image-cropper [imageURL]="webcamImage?.imageAsDataUrl" (imageCropped)="imageCropped($event)"></image-cropper>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="toggleWebcam()">
        {{ isWebcamOn ? 'Turn off webcam' : 'Turn on webcam' }}
      </button>
      <button class="btn btn-danger" (click)="getSnapshot()">Capture Image</button>
      <button class="btn btn-success" (click)="saveImageToDesktop()">Save Image</button>
    </div>
  </div>
</div>
